<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.muchenlou.phototovideo.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.muchenlou.phototovideo.model.UserDO">
        <id column="id" property="id" />
        <result column="uuid" property="uuid" />
        <result column="api_key" property="apiKey" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="external_id" property="externalId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, uuid, api_key, create_time, update_time, external_id
    </sql>

</mapper>
